:root {
    --body-background: 255, 255, 255;
    --color-primary: 68, 68, 68;
    --color-secondary: 222, 222, 222;
    --header-background-primary: 102, 102, 102;
    --header-color-primary: 255, 255, 255;
    --header-background-secondary: 210, 210, 210;
    --code-color: 0, 128, 0;
    --punch-color: 255, 75, 51;
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-background: 18, 18, 18;
        --color-primary: 198, 198, 198;
        --color-secondary: 222, 222, 222;
        --header-background-primary: 102, 102, 102;
        --header-color-primary: 230, 230 ,230;
        --header-background-secondary: 57, 57, 57;
        --code-color: 0, 185, 0;
    }
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, header a, hgroup, main, menu, nav, section {
    display: block;
}
html, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}
body {
    background-color: rgba(var(--body-background), 1);
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.62;
    min-height: 100vh;
    padding: 1%;
    text-rendering: optimizeSpeed;
}
a, body {
    color: rgba(var(--color-primary), 1);
}
a, h1, h2, h3, h4, h5, h6, strong, th {
    font-weight: 700;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
pre, code, kbd, samp {
    color: rgba(var(--code-color), 1);
    font-family: consolas, monospace, sans-serif;
    font-size: .8em;
}
ol, ul {
    margin-left: 1em;
}
ol {
    list-style-type: decimal;
}
a,
div label {
    transition: color .25s;
}
a:active, a:hover {
    outline: 0;
}
a:hover {
    color: rgba(var(--punch-color), 1);
}
em {
    font-style: italic;
}
p {
    margin: 1em 0 0;
}
h2, section h1 {
    padding: 0 .5em;
    line-height: 2;
}
h2 {
    margin-top: 1em;
    background: rgba(var(--header-background-secondary), 1);
}
h3 + p, header p {
    margin: 0;
}
header {
    margin-bottom: 2em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "image title" "image title";
    align-items: center;
}
header img {
    grid-area: image;
}
header div {
    grid-area: title;
}
header h1 {
    font-size: 2em;
    line-height: 1;
}
header h2 {
    background: initial;
    line-height: initial;
    margin-top: 6px;
    padding: initial;
}
aside {
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
section ol {
    list-style: none;
    margin: 0;
}
section h1 {
    margin: .5em 0;
    font-size: 1.2em;
    color: rgba(var(--header-color-primary), 1);
    background: rgba(var(--header-background-primary), 1);
}
section img {
    float: right;
    margin: 0 0 1em 1em;
}
section h3, section h4, section h5, section h6, section p {
    padding: 0 .5em;
}
section.references p {
    text-align: center;
}
@media only screen and (min-width:600px) {
    body {
        padding: 2%;
        font-size: 1.2em
    }
    section {
        padding-bottom: 1em
    }
    ol, ul {
        margin-left: 2em
    };
}
@media only screen and (min-width:940px) {
    body {
        margin: 0 auto;
        padding: 1em;
        max-width: 940px
    };
}
main input {
    display: none;
}
section > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
}
section label {
    display: block;
    cursor: pointer;
}
div label {
    padding: 0 .5em;
}
div label:hover {
    color: rgba(var(--punch-color), 1);
}
.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 0 .25rem 0;
    background-color: rgba(var(--body-background), .5);
    padding: 1rem;
    transform: translateY(-150%);
    transition: transform 250ms ease-in;
}
.skip-to-content:focus {
    transform: translateY(0);
}
#introduction:checked ~ section.introduction > div, 
#skills:checked ~ section.skills > div, 
#education:checked ~ section.education > div, 
#activities:checked ~ section.activities > div, 
#additional:checked ~ section.additional > div {
    max-height: 1000px;
    transition: max-height 0.25s ease-in;
}
#experience:checked ~ section.experience > div, 
#portfolio:checked ~ section.portfolio > div {
    max-height: 10000px;
    transition: max-height 0.5s ease-in;
}
.arrow {
    display: inline-block;
    transition: transform ease-in-out 100ms;
}
#introduction:checked ~ section.introduction .arrow, 
#skills:checked ~ section.skills .arrow, 
#education:checked ~ section.education .arrow, 
#activities:checked ~ section.activities .arrow, 
#additional:checked ~ section.additional .arrow,
#experience:checked ~ section.experience .arrow, 
#portfolio:checked ~ section.portfolio .arrow {
    transform: rotate(90deg);
}
.additional ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 16px 0;
}
.additional svg {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    transition: fill 70ms;
}
.additional a:hover {
    fill: rgba(var(--punch-color), 1);
}
.additional a:hover::after {
    content: attr(href);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
@media print {
    body {
        font-size: 14px;
    }
    * {
        background: 0 0 !important;
        color: #000 !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    a, a:visited {
        color: rgba(var(--color-primary), 1) !important;
        text-decoration: none;
    }
    abbr[title], dfn[title] {
        border: 0;
    }
    blockquote, pre {
        border: 1px solid #999;
    }
    @page {
        size: letter;
        padding: 3em;
    }
    section {
        margin-top: 2em;
    }
    section > div {
        display: block;
    }
    section h1, section h2, section h3, section h4, section p {
        padding: 0;
    }
    section > h1 {
        border-bottom: 1px solid rgba(var(--color-primary), 1);
    }
    section > ol > li {
        padding-bottom: 1em;
    }
    section > div {
        max-height: 100%;
    }
    .skip-to-content,
    aside,
    .arrow,
    div label {
        display: none;
    }
    .additional ul {
        flex-direction: column;
    }
    .additional a {
        display: inline-flex;
    }
    .additional a::after{
        content: attr(href);
        align-self: center;
        margin-left: 1em;
    }
}