// Core font
$base-font-family: 'Helvetica, Arial, sans-serif';
$base-font-color: #444;
$base-font-size: 16px;

// Headers
$header-font-color: #343434;
$header-font-size: 1.2rem;

// Alert modules
$alert-color-default: #cacaca;
$alert-color-danger: #f48888;
$alert-color-info: #88c2f4;